<div id="broker" class="box">
    <fieldset>
      <legend>Broker</legend>
      <h3><%= broker.firstname %> <%= broker.lastname %></h3>
      <h4>Contact Information</h4>
      <%= broker.mail %>
    </fieldset>
</div>